/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.centered {
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: #f9f9f9;
}

.logo {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.logo:hover {
    color: #ddd;
}

.logo img {
    height: 70px;
    width: auto;
    vertical-align: middle;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 950px;
    margin: auto;
}

#header-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/headshot.jpg');
    background-size: contain;
    background-position: center;
    z-index: -1;
}
/* Navigation Menu */
header {
    background-color: #000;
    color: white;
    padding: 0 0;
    text-align: center;
    position: fixed;   
    top: 0;            
    left: 0;           
    width: 100%;       
    z-index: 1000;  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 10pt;
}

nav ul li a:hover {
    color: #ddd;
}
/* End nav menu */

/* Original .hero */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;

}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/headshot.jpg');
    background-size: contain;
    background-position: center;
    z-index: -1;
}

.hero-content {
    max-width: 800px;
    transform: translateY(-25%);
    z-index: 1;
    position: relative;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-btn i {
    margin-left: 5px;
    
    font-size: 100%;
    transition: transform 0.3s ease;
}

.hero-btn:hover {
    background-color: #ddd;
    color: #333;
}

.hero-btn:hover i {
    transform: translateY(3px);
}

#about {
    padding: 40px 0;
    scroll-margin-top: 50px;
}

.container {
    width: 50%;
    margin: 0 auto;
    max-width: 1200px;
}

.block-container {
    display: flex;
    justify-content: space-around;
}

.block {
    width: 100px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.about-heading {
    text-align: center;
    margin-bottom: 20px;
}

.about-p {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 20px;
}

#skills {
    padding-top: 50px;
    scroll-margin-top: 40px;
}

.more-link {
    display: block;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    margin: 20px auto;
    width: fit-content;
}

.more-link i {
    margin-left: 4px;
    transition: transform 0.1s linear;
    font-size: 80%;
}

.more-link:hover {
    background-color: #ddd;
    color: #333;
}

.more-link:hover i {
    transform: scale(1.2);
}

#achievements {
    scroll-margin-top: 90px;
}

.accordion-container {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    flex-wrap: wrap;
}

.accordion {
    width: 500px;
    margin-bottom: 20px;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

/* Overriding Bootstrap Accordion Styles */
/* Consistent style for the accordion button in all states */
/* .accordion-button, 
.accordion-button:not(.collapsed), 
.accordion-button:focus {
    background-color: #ffffff; 
    color: #000000; 
    border-color: #ffffff; 
    box-shadow: none; 
    fill: #000000;
    border-color: black;
} */
/* 
.accordion-body {
    background-color: black;
}

.accordion-collapse.collapsing {
    background-color: black;
} */

.accord-words {
    font-size: 90%;
}

.card-container {
    display: flex;
    width: 60%;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

#work-education {
    margin-top: 120px;
    scroll-margin-top: 90px;
}

.card {
    text-align: center;
    background-color: black;
}

.education {
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-around;
}

.work {
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-around;
}

.research {
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
}

.hidden {
    display: none;
}

.hidden.show {
    display: flex;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: black;
    border-color: #f9f9f9;
    box-shadow: none;
    text-shadow: none;
    border: none;
    color: #999;
    padding-inline: 1rem;
}

.button.color {
    color: #4040ee;
}

.button:hover {
    color: #4040ee;
}

#portfolio {
    margin-top: 120px;
    scroll-margin-top: 90px;
}

.grey {
    color: #999;
}

.carousel-item {
    height: 600px;
}

.container.two {
    width: 1000px;
    margin: 0 auto;
    max-width: 1200px;
}

.in-carousel {
    display: flex;
}

.image {
    width: 30%;
    height: inherit;
    padding: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
    border-radius: 50px;
}

.image2 {
    width: 40%;
    height: inherit;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 120px;
    border-radius: 20px;
}

.description {
    align-self: center;
    width: 40%;
    margin-left: 30px;
}

.button-container-two {
    display: flex;
}

.more-link-portfolio {
    display: block;
    bottom: 0;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 20px;
    width: fit-content;

}

.more-link-portfolio i {
    transition: all 0.3s ease;
}

.more-link-portfolio:hover {
    background-color: #ddd;
    color: #333;

}

.more-link-portfolio:hover i {
    transform: translateX(4px);
}

.arrow {
    font-size: 80%;
    margin-left: 4px;
}

#contact {
    margin-top: 120px;
    margin-bottom: 30px;
    scroll-margin-top: 90px;
}

.container.contact {
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
}

.contact-whole-container {
    display: flex;
    justify-content: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    margin-right: 80px;
}

.contact-info {
    display: flex;
    margin-bottom: 40px;
    margin-right: 20px;
}

.contact-info i {
    margin-right: 20px;
    font-size: 30px;
    align-self: center;
}

#footer {
    background-color: rgb(22, 24, 22);
    color: white;
    padding-bottom: 10px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 900px;
}

.footer-name {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: white;
    text-decoration-line: none;
    margin-right: 20px;
}

.footer-brands a {
    color: white;
    text-decoration-line: none;
}

.footer-brands i {
    margin-right: 20px;
    font-size: larger;
}

footer {
    align-self: baseline;
    justify-self: center;
    text-align: right;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 60px;
    font-size: 12px;
    color: rgb(39, 84, 55);
}


/* */

